/* --------- Styles for the Dashboard Admin Screen --------- */

/* Dashboard Menu */

/* Remove default padding that misalings plugin icon on dahsboard */
#adminmenu #toplevel_page_easily-eagatc .wp-menu-image img {
  padding-top: 0;
}

/* Dashboard Page */
#footer-thankyou {
  visibility: hidden;
}
.eagatc-wrap {
  text-align:center;
}

.eagatc-wrap h1 {
  font-size: 40px;
  color: #1b83ea;
  margin-top: 100px;
  margin-bottom:50px;
  line-height: 1.3;
}

.eagatc-wrap h1 span {
  color:#d842a9;
  text-shadow: 1px 1px 1px #802763;
}

.eagatc-wrap p {
  max-width:530px;
  margin:0 auto 30px;
  font-size:20px;
}

.eagatc-wrap textarea {
  border-radius:0;
  border-width: 2px;
  width: 600px;
  height: 200px;
  display: block;
  margin: 0 auto 30px;
}

.eagatc-wrap input[type=submit], .eagatc-wrap input[type=submit]:focus {
  font-size:20px;
  padding:10px;
  background-color:#1b83ea;
  color:#fff;
  border:2px solid #135da7;
  margin-bottom: 25px;
  border-radius: 0;
  outline:none;
}
.eagatc-wrap .pi-success-notification {
  color:green;
  font-weight: bold;
}
.eagatc-wrap .pi-error-notification {
  color:red;
  font-weight: bold;
}
.eagatc-wrap form th {
  display: none;
}


.notice-error {
    background: transparent;
    border: none;
    box-shadow: none;
    color: red;
}
.notice-error p {
    font-size: 15px;
}
.notice-error button {
    display: none;
}
/* Dashboard after successful form submission */
.agatc-success-box {
  background: #8dbbee;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 30px 10px 30px;
}

.agatc-brand {
    color: #d842a9;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px #802763; */
    /* font-size: 35px; */
}
.agatc-small-notice {
  font-size:
}

/* Revert Changes Area */
#wpfooter {
  background-color: #808080;
  color: #fff;
}
#footer-upgrade {
  visibility: hidden;
}
 #eagatc-revert {
    background: #ff0000;
    color: #ffffff;
    border: 2px solid #c50b0b;
    padding: 6px 15px;
    border-radius: 0;
    outline:none;
}
